/* select:active, select:focus {
    background-color: #545a57; /* Red background color */
   
  h1 {
    font-family: 'Open Sans', sans-serif; /* Change the font */
    font-size: 36px; /* Change the font size */
    color: #006699; /* Change the color */
    text-shadow: 2px 2px #cccccc; /* Apply text-shadow */
    letter-spacing: 1px; /* Apply letter-spacing */
    text-transform: uppercase; /* Apply text-transform */
    line-height: 1.5; /* Apply line-height */
    font-weight: 600; /* Apply font-weight */
    text-align: center; /* Apply text-align */
    text-decoration: underline; /* Apply text-decoration */
  }


  